.a1 div{
    /* padding: 10px; */
    margin: 10px;
    
}
img{
    border-radius: 20px;

}
.d{
    display: flex;
    
    
}
.d7{
    border-radius: 20px;
    width: 400px;
    height: 400px;
    border-radius: 20%;
    margin-left: 50px;

}