.a{
    background-color: blue;
    font-size: large;
    font-weight:bolder;
    border-color: white;
}
.table{
    background-color: rgba(0, 0, 0, 0.69);
    border-radius: 20px;
}
.display{
    background-color: white;
    border-radius: 10px;
}
#row1{
    background-color: white;
    border-radius: 20px;
}
#col{
    background-color: orange;
    border-radius: 10px;
}
#col1{
    border-radius: 10px;
}
.h{
    text-align: center;
    background-color: aliceblue;
}



